{% load static %}

<nav class="navbar is-transparent is-link" style="background-color: rgb(62, 127, 170);">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <img src="{% static 'users/img/RyeHub_logo.png' %}" alt="RyeHub" width="112" height="28">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'profiles_list' %}">
          Post
        </a>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Chats
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">
              Overview
            </a>
            <a class="navbar-item" href="#">
              Modifiers
            </a>
            <a class="navbar-item" href="#">
              Columns
            </a>
            <a class="navbar-item" href="#">
              Layout
            </a>
            <a class="navbar-item" href="#">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#">
              Elements
            </a>
            <a class="navbar-item is-active" href="#">
              Components
            </a>
          </div>
        </div> -->
      </div>


      <!-- <div class="field has-addons" style="margin-top: 11px;"> -->
        <!-- <div class="control"> -->
          <input class="search" type="searchfield" placeholder="Search..." style="padding: 0.8rem 2rem 0.8rem 2rem;
                                                                                  border: none;
                                                                                  border-top-left-radius: 5px;
                                                                                  border-bottom-left-radius: 5px;
                                                                                  outline: none;
                                                                                  height: 40px;
                                                                                  margin-top: 8px;">
        <!-- </div>       -->
        <!-- <div class="control"> -->
          <form action="" method="get">
            <button class="submit" type="submit" style="background-color: rgb(73, 73, 73);
                                        border: none;
                                        border-top-right-radius: 5px;
                                        border-bottom-right-radius: 5px;
                                        color: rgb(255, 255, 255);
                                        width: 105px;
                                        height: 40px;
                                        margin-top: 8px;
                                        cursor: pointer;">
              Search
            </button>
          </form>
        <!-- </div> -->
      <!-- </div> -->


  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            
            <p class="control">
              <a class="button is-dark" href="#">
                <span>Log in</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <style>
        .submit:hover {
            background-color: rgb(60, 60, 60) !important;
        }
    </style>
  </nav>
